.form-field {
    font-family: 'Yeseva One', cursive;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-row .form-field {
    flex: 1;
    margin-right: 10px;
    max-width: 250px;
    min-width: 250px;
  }
  
  .form-row .form-field:last-child {
    margin-right: 0;
  }
  
.form-field label {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .form-field input[type="text"],
  .form-field input[type="email"],
  .form-field textarea {
    width: 100%; 
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff8e4;
  }
  
  .form-field input[type="submit"] {
    cursor: pointer;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1em;
  }
  
  .form-field input[type="submit"]:hover {
    background-color: grey;
  }

.main {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

@media (max-width: 520px) {
  .form-row {
      flex-direction: column;
  }

  .form-row .form-field {
      min-width: 0;
      margin-right: 0;
      margin-bottom: 10px;
  }

  .form-row .form-field:last-child {
      margin-bottom: 0;
  }
}
