.davis {
    height: 200px;
    border-radius: 50vh;
}

.moorpark {
    height: 200px;
    border-radius: 50px;
}

.title {
    font-family: 'Yeseva One', cursive;
    text-align: center;
}

.text {
    font-family: 'Yeseva One', cursive;
    text-align: center;
}

h1 {
    font-family: 'Yeseva One', cursive;
    font-weight: bold;
}

.main {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column; /* Change to row if you want side-by-side */
}

.col2 {
    max-width: 700px; /* Set a maximum width for your columns */
    min-width: 100px;
    flex: none; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em; /* Add some space around each column */
}